* {
    font-family: "Microsoft Yahei";
    font-size: 16px;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}

/*一点妥协。。。哎。。响应式太花时间。。暂时就藏起来好了*/

@media screen and (max-width: 1124px) {
    .part06-right {
        display: none;
    }
    .part08-bottom-left {
        visibility: hidden;
    }
    .part08-bottom-right {
        display: table;
    }
}

@media screen and (max-width: 900px) {
    .header {
        display: none;
    }
}
/*header*/

.header {
    position: relative;
    font-size: 1.1rem;
}

.header span {
    display: inline-block;
    margin: 12px 0 0 50px;
    font-size: 1.1em;
}

.header strong {
    margin: 12px;
}

.header ul {
    position: absolute;
    top: 0;
    right: 5%;
}

.header a {
    padding: 5px 18px;
}
.header a:hover{
    border-bottom:solid #e74f4d 5px;
}
.header li:last-child a {
    color: #e74f4d;
}
/*part01*/

.part01 {
    position: relative;
    background: url(img/task07-background01.png) no-repeat;
    background-size: 100% auto;
    height: 390px;
    color: white;
}

.part01 input {
    border: none;
    background-color: #e74f4d;
}

.part01-content {
    position: absolute;
    top: 13%;
    left: 13%;
}

.part01-content h2 {
    font-size: 2.8rem;
}

.part01-content input {
    width: 100%;
    font-size: 2.1rem;
}
/*part02*/

.part02 {
    background: url(img/task07-background02.png) no-repeat;
    background-size: 100%;
}

.part02 li {
    text-align: center;
    display: inline-block;
    width: 17%;
    padding: 3.5%;
    margin-top: 4%;
}
/*part03*/

.part03 {
    background-color: #ededec;
    text-align: center;
    margin-bottom: -32px;
}

.part03 p {
    padding-bottom: 10%;
}

.part03 img {
    margin-top: 8%;
}
/*part04*/

.part04 {
    background: url(img/task07-background04.png) #f7f7f7 no-repeat;
    text-align: center;
    background-size: 100% auto;
}

.part04 p,
.part04 h4 {
    color: white;
}

.part04 h4 {
    padding-top: 2%;
    font-size: 1.5rem;
}

.part04 p {
    padding-bottom: 2%;
}

.part04 select,
.part04 a {
    display: inline-block;
    width: 17%;
    height: 30px;
    line-height: 30px;

}
.part04 select{
    /*background:url(img/task07-background04-01.png) no-repeat white 203px 3px;
*/
    border: 2px solid #e74f4d;
}
.part04 a {
    background-color: #e74f4d;
    color: white;
    margin-bottom: 15%;
}
/*part05*/

.part05 {
    background-color: #f7f7f7;
    padding-top: 5%;
    text-align: center;
}

.part05 li {
    padding: 0 1%;
}

.part05 img {
    border: 10px solid white;
}
/*part06*/

.part06 {
    position: relative;
    margin-top: -20px;
}

.part06-right {
    background: url(img/task07-background06.png) no-repeat;
    background-size: 67%;
    height: 568px;
    color: white;
}

.part06-left {
    position: absolute;
    left: 71%;
    top: 7%;
    right: 3%;
}

.part06-left h3,
.part06-left a {
    text-align: center;
}
/*part06 a & part07 a */

.part06-left a,
.part07-middle a,
.part07-left a {
    display: block;
    width: 30%;
    padding: 2%;
    margin: 10% auto;
}

.part06-left a,
.part07-middle a {
    border: 1px solid #e74f4d;
    color: #e74f4d;
}

.part06-right-content {
    position: absolute;
    top: 14%;
    left: 23%;
}

.part06-right-content span {
    display: block;
    text-align: center;
}

.part06-right-content span:first-child {
    font-size: 2.2rem;
}

.part06-right-content span:nth-child(2) {
    font-size: 6rem;
}
/*part07*/

.part07 {
    overflow: hidden;
}

.part07-left,
.part07-middle {
    text-align: center;
    vertical-align: middle;
}

.part07-left {
    width: 33%;
    float: left;
    height: 520px;
    background-color: #e74f4d;
}

.part07-middle {
    float: left;
    height: 520px;
    width: 33%;
}

.part07-right {
    background: url(img/task07-background07.png) no-repeat;
    float: right;
    height: 520px;
    width: 33%;
}

.part07-left a {
    border: solid 1px white;
    color: white;
}

.part07-left p {
    color: white;
}

.part07 p {
    padding-top: 50%;
}
/*part08*/

.part08 {
    position: relative;
}

.part08 p:first-child {
    text-align: center;
}

.part08 span:first-child {
    display: block;
    font-size: 2rem;
}

.part08-bottom-right {
    position: absolute;
    top: 18%;
    right: 7%;
    width: 600px;
}

.part08-bottom-right input {
    background-color: #ededee;
    color: black;
    border: none;
}

.part08-sbumit {
    width: 98.5%;
    height: 3rem;
    margin-top: 3%;
}

.part08-bottom-right ul {
    padding-left: 0;
    width: 600px;
}

.part08-bottom-right li,
.part08-bottom-right textarea {
    background-color: #ededee;
    color: black;
    padding: 10px;
}

.part08-bottom-right li {
    width: 274px;
    margin: 5px 0;
}

.part08-bottom-left {
    width: 28%;
    margin: 3.2% 10%;
}

.part08-bottom-left a {
    display: block;
    text-align: right;
}
/*footer*/

.footer {
    position: relative;
    background-color: #32353e;
    color: white;
    text-align: center;
    padding: 3.5%;
}

.footer input {
    color: black;
    padding: 10px 180px 10px 10px;
}

.footer .footer-email {
    display: inline-block;
    background-color: #686166;
    color: white;
    height: 45px;
    width: 75px;
    line-height: 45px;
    margin-left: -5px;
}

.footer ul {
    padding-left: 0px;
}

.footer ul li {
    padding: 10px;
    margin: 10px;
}

.footer-bottom {
    position: absolute;
    background-color: #2f3038;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
}
.footer-bottom span{
    position:absolute;
    left:50px;
}